.front-wave, .inner-wave
	transform-origin: center
	animation: frontWave 5s cubic-bezier(.68,.23,.1,.88) infinite

.inner-wave
	animation-delay: .3s

.wave-svg
	overflow: visible
	
	&__bg
		position: relative
		z-index: 3


@keyframes frontWave
	0%, 100%
		transform: scale3d(.85,.85,.85)

	50%
		transform: scale3d(1.1, 1.1, 1.1)


@media (max-width: 1300px) and (min-width: 1000px)
	.wave-svg
		max-height: vh(500)

@media (max-width: 1000px)
	.wave-svg
		max-height: 28.6vh